# .gitignore

# Python-Dateien
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
.env/
.venv/
.ENV/
env.bak/
venv.bak/
celerybeat-schedule
celerybeat.pid

# Jupyter-Dateien
.ipynb_checkpoints

# Daten-Dateien
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.db
*.sql
*.sqlite

# Log-Dateien
logs/
*.log

# Modelldateien
*.pkl
*.joblib
*.h5

# Verschiedene Dateien
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.pyc
*.cache
*.tmp

# dotenv-Dateien
.env
.env.*
!.env.example

# Ergebnisse und Ausgabe
results/
output/
